.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.button {
    all: unset;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #1f1f1f;
    border-radius: 15px;
}
.image{
    width: 50px;
    user-select: none;
};

